<!-- <div class="contenedor">
    <div class="card" *ngIf="mascota">  
        <form>
            <div class="form-group">
              <label for="idMascota">Id</label>
              <input class="form-control" value={{mascota.idMascota}} id="idMascota" >
            </div>

            <br/>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input class="form-control" value="{{mascota.nombre}}" id="nombre">
            </div>

            <br/>
            <div class="form-group">
                <label for="especie">Especie</label>
                <input class="form-control" value="{{mascota.especie}}" id="especie">
            </div>

            <br/>
            <div class="form-group">
                <label for="raza">Raza</label>
                <input class="form-control" value="{{mascota.raza}}" id="raza">
            </div>

            <br/>
            <div class="form-group">
                <label for="edad">Edad</label>
                <input class="form-control" value={{mascota.edad}} id="edad">
            </div>

            <br/>
            <div class="form-group">
                <label for="sexo">Sexo</label>
                <input class="form-control" value="{{mascota.sexo}}" id="sexo">
            </div>

            <br/>
            <div class="form-group">
                <label for="nombrePropietario">Propietario</label>
                <input class="form-control" value="{{mascota.nombrePropietario}}" id="nombrePropietario">
            </div>

            <br/>
            <button class="btn btn-info" type="button" class="btn btn-primary" (click)="onSubmit()">&nbsp;&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;&nbsp;</button>
            &nbsp;
            <button type="button" class="btn btn-warning" (click)="goBack()">&nbsp;&nbsp;Volver&nbsp;&nbsp;</button>
            <br>
            <button type="button" class="btn btn-danger" (click)="eliminaMascota()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eliminar Mascota&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      
        </form>
    </div>
</div> -->

<div class="contenedor">
    <div class="card">  
        <form [formGroup]="dataMascota">
            <div class="form-group">
              <label>Id</label>
              <input class="form-control" formControlName="idMascota">
            </div>

            <br/>
            <div class="form-group">
                <label>Nombre</label>
                <input class="form-control" formControlName="nombre">
            </div>

            <br/>
            <div class="form-group">
                <label>Especie</label>
                <input class="form-control" formControlName="especie">
            </div>

            <br/>
            <div class="form-group">
                <label>Raza</label>
                <input class="form-control" formControlName="raza">
            </div>

            <br/>
            <div class="form-group">
                <label>Edad</label>
                <input class="form-control" formControlName="edad">
            </div>

            <br/>
            <div class="form-group">
                <label>Sexo</label>
                <input class="form-control" formControlName="sexo">
            </div>

            <br/>
            <div class="form-group">
                <label>Propietario</label>
                <input class="form-control" formControlName="nombrePropietario">
            </div>

            <br/>
            <button class="btn btn-info" type="button" class="btn btn-primary" (click)="onSubmit()">&nbsp;&nbsp;&nbsp;&nbsp;Guardar&nbsp;&nbsp;&nbsp;&nbsp;</button>
            &nbsp;
            <button type="button" class="btn btn-warning" (click)="goBack()">&nbsp;&nbsp;Volver&nbsp;&nbsp;</button>
            <br>
            <button type="button" class="btn btn-danger" (click)="eliminaMascota()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Eliminar Mascota&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
      
        </form>
    </div>
</div>