<div class="contenedor">
    <div class="card">  
        <form>
            <div class="form-group">
              <label for="idMascota">Id</label>
              <input class="form-control" id="idMascota" required>
            </div>

            <br/>
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input class="form-control" id="nombre" required>
            </div>

            <br/>
            <div class="form-group">
                <label for="especie">Especie</label>
                <input class="form-control" id="especie" required>
            </div>

            <br/>
            <div class="form-group">
                <label for="raza">Raza</label>
                <input class="form-control" id="raza" required>
            </div>

            <br/>
            <div class="form-group">
                <label for="edad">Edad</label>
                <input class="form-control" id="edad" required>
            </div>

            <br/>
            <div class="form-group">
                <label for="sexo">Sexo</label>
                <input class="form-control" id="sexo" required>
            </div>

            <br/>
            <div class="form-group">
                <label for="nombrePropietario">Propietario</label>
                <input class="form-control" id="nombrePropietario" required>
            </div>

            <br/>
            <button class="btn btn-info" type="button" class="btn btn-primary" (click)="crearMascota()">Guardar</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-warning" (click)="goBack()">Volver</button>
            
        </form>
    </div>
</div>
