
<div class="contenedor">
  <div class="card" style="width: 18rem" *ngIf="mascota" >

    <div class="card-header">
      Id: {{mascota.idMascota}}
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Nombre -> {{mascota.nombre}}</li>
      <li class="list-group-item">Especie -> {{mascota.especie}}</li>
      <li class="list-group-item">Raza -> {{mascota.raza}}</li>
      <li class="list-group-item">Edad -> {{mascota.edad}}</li>
      <li class="list-group-item">Sexo -> {{mascota.sexo}}</li>
      <li class="list-group-item">Propietario -> {{mascota.nombrePropietario}}</li>
    </ul>

    <div class="form-group row letrasCabecera">    
        <div class="col-sm-8">
            <a type="button" class="btn btn-info" routerLink="/formularioMascota/{{id}}">Editar</a>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-warning" (click)="goBack()">&nbsp;Volver&nbsp;</button>
        </div>
    </div>

</div>
</div>







